<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicacion usuario</title>
</head>
<body 
    style=
    "display: grid; 
    height: 100vh; 
    grid-template:auto 1fr auto / auto 1fr auto;
    ">
   
    <header 
    style=
    "text-align: center;
    grid-column: 1 / 4;
    background-color: rgb(126, 42, 165);
    "
    ><h1>cabecera</h1>
    </header>

    <div 
    class='left-sidebar' 
    style=
    "grid-column: 1 / 2;
    background-color:rgb(177, 115, 235);"
    >menu lateral izquierdo</div>

    <main 
    style=
    "text-align: center;
    grid-column: 2 / 3;
    background-color:rgb(175, 54, 206);"
    >contenido de la pagina</main>

    <div 
    class='right-sidebar' 
    style=
    "grid-column: 3 / 4;
    background-color:rgb(177, 115, 235);"
    >menu lateral derecho </div>

    <footer 
    style=
    "text-align: center; 
    grid-column: 1 / 4;
    background-color: rgb(126, 42, 165);"
    >footer by valen </footer>
</body>
</html>